<% provide(:title, '') %>

<div class="card">

  <div class="sales_pitch"> <!-- class="col-md-6 col-md-offset-1"> -->
    <h1>Welcome to <span class="quoth">quot<span class="dot">h.</span></span></h1>
	<p class="lead"> <!--id="sales_pitch"-->Share you favourite quotes or find new inspiring words. Follow new quote posts from individual
	  <b><span class="quoth">quoth</span></b> users, get updates when anyone shares a saying from a person you admire, or
	  subscribe to receive all quotes related to a specific topic.</p>
  </div>

  <div class="side starter-links"> <!-- class="col-md-4"> -->
	<p class="lead lead-small">Here are some examples to get you started:
	  <%= link_to 'Buddha', '#' %>,
	  <%= link_to 'Mark Twain', '#' %>,
	  <%= link_to 'Politics', '#' %>,
	  <%= link_to 'Art', '#' %>,
	  <%= link_to '@Nik', '#' %>.
	</p>

	<p class="lead lead-small">If you like what you see, <%= link_to 'Sign up', signup_path %></p>
  </div>

  <div class="side signin">

    <%= form_tag sessions_path do %>

        <div class="form-group">
          <%= text_field_tag(:email, nil, placeholder: 'email', class: 'form-control') %>
        </div>

        <div class="form-group">
          <%= password_field_tag(:password, nil, placeholder: 'password', class: 'form-control') %>
        </div>

        <%= submit_tag 'Sign in', class: 'btn btn-info' %>
    <% end %>
  </div>
</div>